@aw:registry=http://bos-rel-jfrog-01.americanwell.com:8081/artifactory/api/npm/npm-virtual/
_auth = Z2l0bGFiX25vb3ZlcndyaXRlOkFLQ3A4aHpOUFU3d3pvQnUyaHZtajVEVm9hMjVUdnJZakZFVXdkamR2TG1yaHpaVjU0Z1NycFJXNWRITGdhR3NSQU52QTlTbWY=
always-auth = true
email = release.engineering@americanwell.com

